In [1]:
import pandas as pd

In [2]:
series=pd.Series([45,32,12,43])

In [3]:
series

0    45
1    32
2    12
3    43
dtype: int64

In [25]:
x=[1,2,3,4]
series1=pd.Series(x,index=["A","B","C","D"])

In [26]:
series1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
series1["A"]

5345

In [7]:
series1[["A","C"]]

A    5345
C    5656
dtype: int64

In [8]:
Data_Frame=pd.DataFrame([{"col1":[4,5,6,7],"col2":45}])

In [9]:
Data_Frame

           col1  col2
0  [4, 5, 6, 7]    45

In [10]:
Data_Frame1=pd.DataFrame([{"col1":[4,5,6,7],"col2":45},{"col1":56,"col2":4455}])

In [11]:
Data_Frame1

           col1  col2
0  [4, 5, 6, 7]    45
1            56  4455

In [35]:
Data_Frame2=pd.DataFrame({"col1":[3],"col2":[4]})
Data_Frame2

   col1  col2
0     3     4

In [34]:
x=pd.DataFrame([{"col":[1,2,3,4],"col2":[3,4,5,6]}],index=[7])
x

            col          col2
7  [1, 2, 3, 4]  [3, 4, 5, 6]

In [14]:
Data_Frame

           col1  col2
0  [4, 5, 6, 7]    45

In [15]:
import numpy as np
D=pd.DataFrame(np.arange(6).reshape(2,3),index=["row1","row2"],columns=["col1","col2","col3"])
print(D)

      col1  col2  col3
row1     0     1     2
row2     3     4     5

In [16]:

dictionary={"one":1,"two":2,"three":3,"four":4,"five":5,"six":6}

In [17]:
ser=pd.Series(dictionary)

In [18]:
ser

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [45]:
ser.reindex(["five","four","three","two","one","six"])

five    NaN
four    NaN
three   NaN
two     NaN
one     NaN
six     NaN
dtype: float64

In [20]:
ser

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [21]:
ser.index=[1,2,3,4,5,6]

In [22]:
ser

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [23]:
type(D)

pandas.core.frame.DataFrame

In [24]:
Data=pd.read_csv("Book1.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Book1.csv'

In [ ]:
Data

In [ ]:
Data.info()

In [ ]:
Data.head(7)

In [ ]:
Data.tail(10)

In [ ]:
type(Data)

In [ ]:
Data.head()

In [ ]:
Data.tail()

In [ ]:
Data.index[1]

In [ ]:
Data.columns=["student","section","ID"]

In [ ]:
Data

In [ ]:
Data["student"][1]

In [ ]:
Data["ID"]>500

In [ ]:
Data["ID"].sum()

In [ ]:
Data["ID"].max()

In [ ]:
Data["ID"].min()

In [ ]:
Data["ID"].count()